/**
* Information panel.
*/

.laserCanvasInfo,
[data-action="toggleInfo"] {
	transition-property: left, width, height;
	transition-duration: 350ms;
}

/* $panelWidth: 350 */

.laserCanvasInfo {
	left: -350px;
	width: 340px;
	padding: 0 5px;
	overflow: auto;
	background: white;
}

.laserCanvasInfo {
	height: calc(100% - 81px);
}

[data-variables-visible="true"] .laserCanvasInfo {
	height: calc(100% - 221px);
}

[data-info-visible="true"] .laserCanvasInfo {
	left: 0;
}

button[data-action="toggleInfo"] {
	left: 0;
}

[data-info-visible="true"] button[data-action="toggleInfo"] {
	left: 349px;
}

button[data-action="toggleInfo"],
button[data-action="toggleVariables"] {
	color: white;
	background: #333;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

button[data-action="toggleInfo"] {
	top: 39%;
	height: 2em;
	padding: 1em 0.5em 2.4em 0.5em;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
}

	button[data-action="toggleInfo"]:after {
		content: "\203A";
	}

		[data-info-visible="true"] button[data-action="toggleInfo"]:after {
			content: "\2039";
		}

	.laserCanvasInfo ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
		.laserCanvasInfo ul li {
			margin: 0.3em 0;
		}

	.laserCanvasInfo .infoPanelOptions {
		margin-bottom: 2.5em;
	}
