.infoPropertiesPanel {
	box-shadow: 0 0 1em green inset;
}

.infoPropertiesPanel h1 {
	margin: 0;
	padding: 0.2em 0;
	text-align: center;
	font-size: 1em;
}

.infoPropertiesPanel table {
	width: 100%;
}

