.infoPropertiesPanel h1 {
	margin: 0.5em 0 0 0;
	padding: 0.2em 0;
	text-align: center;
	font-size: 1em;
	cursor: default;
	transition: background-color 150ms;
}

	.infoPropertiesPanel.panel-highlight h1 {
			background-color: rgba(217, 218, 57, 0.5);
	}

.infoPropertiesPanel table {
	width: 100%;
	border-collapse: collapse;
}

	.infoPropertiesPanel table td {
		padding: 0.2em;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: #aaa;
	}

	.infoPropertiesPanel td[data-cell] {
		text-align: right;
	}
	.infoPropertiesPanel td[data-cell="label"],
	.infoPropertiesPanel td[data-cell="unit"] {
		text-align: left;
	}

[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="abcdSag"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="abcdTan"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="angleOfIncidence"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="curvatureFace1"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="curvatureFace2"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="distanceToNext"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="elementDistanceToNext"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="focalLength"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="groupDelayDispersion"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="groupVelocityDispersion"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="modeSpacing"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="opticalLength"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="physicalLength"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="radiusOfCurvature"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="rayleighLength"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="refractiveIndex"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="thickness"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="waistSize"],
[data-show-advanced="false"] .infoPropertiesPanel [data-property-name="wavefrontROC"] {
	display: none;
}

/* Property graph checkboxes */

[data-variables-visible="false"] [data-cell="graph"] > span {
	display: none;
}

[data-cell="graph"] input[type="checkbox"] {
	position: relative;
	visibility: hidden;
	cursor: pointer;
}

	[data-cell="graph"] input[type="checkbox"]::before,
	[data-cell="graph"] input[type="checkbox"]::after {
		position: absolute;
		left: 0;
		visibility: visible;
	}

	[data-cell="graph"] input[type="checkbox"]::before {
		/*
			- U+1f441 eye
			- U+1f4c8 graph with upwards trend
			- U+1f4ca bar chart
		*/
		content: "\1f4ca";
		top: -0.1em;
	}
	[data-cell="graph"] input[type="checkbox"]::after {
		content: "\2713";
		top: -0.4em;
		font-size: 2em;
		opacity: 0;
		transition: opacity 250ms;
	}
		[data-cell="graph"] input[type="checkbox"]:checked::after {
			opacity: 1;
		}