/**
* Laser Canvas.
*/

/* Body */
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

/*
* Loading progress bar.
*/

.progressBarLoading {
	width: 8em;
	margin: 8em auto 0 auto;
	border: 2px solid #449E9E;
	border-radius: 8px;
	overflow: hidden;
}

.progressBarLoading > div {
	width: 0;
	height: 8px;
	background-color: #29B9B9;
}

/**
* Help button.
*/
.helpButton {
	position: fixed;
	right: 0;
	width: 2em;
	height: 1.5em;
	background: #f1f52e;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	border: none;
	cursor: pointer;
}

	.helpButton.help {
		top: 0.5em;

	}

	.helpButton.feedback {
		top: 2.5em;
	}

	.helpButton.docs {
		top: 4.5em;
	}

		.helpButton.feedback svg,
		.helpButton.docs svg {
			width: 1.2em;
			height: 1.3em;
		}

.insertElementPreview {
	position: absolute;
	opacity: 0.65;
	top: 0;
	left: 0;
	pointer-events: none;
}

	.insertElementPreview.hidden {
		display: block;
		opacity: 0.01;
	}
/**
* New system panel.
*/

.laserCanvasNewPanel {
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.2em 0;
	text-align: center;
}

	.laserCanvasNewPanel button {
		padding: 0.5em 1em;
		background-color: #ccc;
		border: none;
		border-radius: 1em;
		cursor: pointer;
		transition-property: background-color;
		transition-duration: 350ms;
	}
	
	.laserCanvasNewPanel button:hover {
		background-color: #aaa;
	}
	
	.laserCanvasNewPanel button[data-action="openFile"] {
		position: relative;
		overflow: hidden;
	}

		.laserCanvasNewPanel button[data-action="openFile"] > input[type="file"] {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 100px;
			opacity: 0;
		}

/* 
* 2d Rendering
*/
[data-interaction="inspect"] .laserCanvasFrame {
	cursor: help;
}

[data-interaction] .laserCanvasFrame .hoverOverElement {
	cursor: move;
}

.laserCanvasHighlight {
	position: absolute;
}

	.laserCanvasHighlight .highlight {
		position: absolute;
		left: 40px;
		top: 40px;
		width: 0;
		height: 0;
		margin-left: 0;
		margin-top: 0;
		border: 3px solid #986720;
		background-color: #d9da39;
		border-radius: 50%;
		opacity: 0;
		transition-property: width, height, margin-left, margin-top, opacity;
		transition-duration: 150ms;
	}
	
		.laserCanvasHighlight .highlight[data-state="hover"] {
			width: 30px;
			height: 30px;
			margin-left: -18px;
			margin-top: -18px;
			opacity: 0.5;
		}
		
		.laserCanvasHighlight .highlight[data-state="drag"] {
			width: 20px;
			height: 20px;
			margin-left: -13px;
			margin-top: -13px;
			opacity: 1;
		}

.laserCanvasFrame .laserCanvasInspect {
	display: none;
}

	[data-interaction="inspect"] .laserCanvasFrame .laserCanvasInspect {
		display: block;
	}


canvas.render2d {
	/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAlElEQVR4Xu3YAQ0AIQwDwKF2NrBRNy/tg44eCQJoxnbZSfLNzLuV5yS5u3srXz8zAlABvoAeoAmaAsYgB4AQCZYmgMIojMIojMIojMIojMKlELQURWEURmEURmEURmEURmEULk0AhVEYhVEYhVEYhVEYhUshaCuMwiiMwiiMwiiMwiiMwihcmgAKozAKozAKo3AxhX8xdf+MqgPylgAAAABJRU5ErkJggg==);*/
	/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAkUlEQVR4Xu3YAREAIAgEMIkMCUxAJqMZ5EcD/hR2VHe/qnontGpm7u7e0P6PALwAX8AMMARtAWuQA0CIBEMTQGEURmEURmEURmEURuFQCDqKojAKozAKozAKozAKozAKhyaAwiiMwiiMwiiMwiiMwqEQdBVGYRRGYRRGYRRGYRRGYRQOTQCFURiFURiFUTiYwh9gJf8XF6SbLwAAAABJRU5ErkJggg==);*/
	background-image: none;
}

.propertiesPanel,
.elementScreenPanel,
.sellmeierPanel {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 0.5em;
	background: rgba(255, 255, 255, 0.85);
	border-radius: 1em;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.propertiesPanel,
.elementScreenPanel {
	display: none;
}

	.propertiesPanel[data-visible="true"] {
		display: block;
	}
	
	.propertiesPanel h1,
	.elementScreenPanel h1,
	.sellmeierPanel h1 {
		margin: 0.2em;
		font-size: 1em;
		text-align: center;
	}

	.propertiesPanel h1,
	.elementScreenPanel h1 {
		text-transform: uppercase;
	}
	
		.propertiesPanel h1 input[type="text"] {
			width: 80%;
			border: none;
			background: none;
			text-align: center;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			text-transform: inherit;
		}
	
.propertiesPanel table {
	width: 100%;
}

	.propertiesPanel table th {
		display: none;
		border-bottom: 1px solid #666;
	}

	input.laserCanvasInput[type="number"],
	input.laserCanvasInput[type="text"],
	.propertiesPanel table select,
	.propertiesPanel table input[type="number"],
	.propertiesPanel table input[type="text"] {
		padding: 0.1em 0.5em;
		background: white;
		border-radius: 0.5em;
		font-family: inherit;
		font-size: inherit;
	}
	
	.propertiesPanel table select {
		min-width: 6em;
	}
	
	input.laserCanvasInput[type="number"],
	input.laserCanvasInput[type="text"],
	.propertiesPanel table input[type="number"],
	.propertiesPanel table input[type="text"] {
		width: 3.0em;
		border: none;
		box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3) inset;
		text-align: right;
	}

	input.laserCanvasInput[type="checkbox"],
	.propertiesPanel table input[type="checkbox"] {
		position: relative;
		/* top: +0.4em; */
		left: +0.4em;
	}
	
		input.laserCanvasInput[type="checkbox"]:after,
		.propertiesPanel table input[type="checkbox"]:after {
			content: " ";
			display: inline-block;
			position: relative;
			top: -0.4em;
			left: -0.4em;
			width: 1.5em;
			height: 1.5em;
			padding-left: 0.2em;
			padding-top: 0.2em;
			background: white;
			border: 1px solid #aaa;
			border-radius: 50%;
			text-align: center;
		}
		
			input.laserCanvasInput[type="checkbox"]:checked:after,
			.propertiesPanel table input[type="checkbox"]:checked:after {
				content: "\2714";
				box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3) inset;
				background-color: #c7c7c8;
			}
			
	.propertiesPanel table input[type="text"][disabled] {
		color: #626262;
		background-color: #e7e7e7;
		box-shadow: none;
	}

	.propertiesPanel table td[data-content="unit"] {
		text-align: left;
	}
	
.dragbar {
	background-image: linear-gradient(
		to bottom,
		#555  0%, #555  9%,
		#fff 10%, #fff 19%,
		#555 20%, #555 29%, 
		#fff 30%, #fff 39%, 
		#555 40%, #555 49%,
		transparent 50%);
}

.propertiesPanel .dragbar,
.elementScreenPanel .dragbar,
.sellmeierPanel .dragbar {
	width: calc(100% + 1em);
	height: 2em;
	margin-top: -0.5em;
	margin-left: -0.5em;
	margin-bottom: -1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	opacity: 0.5;
}

[data-draggable="true"] {
	cursor: move;
}

[data-draggable="x"] {
	cursor: ew-resize;
}

[data-draggable="y"] {
	cursor: ns-resize;
}

input[type="text"]::placeholder {
	font-style: italic;
}

/**
* Button
*/

.lcbuttons {
	text-align: center;
}

button.lcbutton {
	background: #333;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 0.25em;
	margin: 0.5em 0;
	font-family: inherit;
	font-size: inherit;
}

	button.lcbutton.padded {
		padding: 0.25em 1em;
	}

	button.lcbutton:hover {
		background: #575757;
		text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
	}

	button.lcbutton:active {
		background-color: #2e2e2e;
	}

.propertiesPanel thead tr[data-property-name] {
	display: none;
}

	.propertiesPanel tr[data-property-name] td:nth-child(2),
	.propertiesPanel tr[data-property-name] td:nth-child(5) {
		text-align: center;
	}
	
	.propertiesPanel[data-can-delete="false"] button[data-action="delete"],
	.propertiesPanel[data-has-refractive-index="false"] button[data-action="sellmeier"] {
		display: none;
	}
		
	.propertiesPanel[data-can-delete="true"][data-has-refractive-index="true"] button[data-action="sellmeier"] {
		float: left;
	}
	
	.propertiesPanel[data-can-delete="true"][data-has-refractive-index="true"] button[data-action="delete"] {
		float: right;
	}

.nowrap {
	white-space: nowrap;
}
	
button[data-action="standard"][data-step],
button[data-action="increment"][data-step] {
	margin: 0 0.1em;
	padding: 0.1em 0.5em;
	font-size: 0.8em;
}

button[data-step="1"],
button[data-step="+1"] {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

button[data-step="-1"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

	.propertiesPanel tr[data-standard] button[data-action="standard"],
	.propertiesPanel tr[data-increment] button[data-action="increment"] {
		display: inline-block;
	}

	.propertiesPanel button[data-action="close"],
	.elementScreenPanel button[data-action="compact"],
	.sellmeierPanel button[data-action="close"] {
		position: absolute;
		right: 0.2em;
		top: 0.2em;
		width: 2em;
		height: 2em;
		padding: 0.5em;
		color: white;
		background: #333;
		border: none;
		border-radius: 1em;
	}

/**
* Screen element information panel.
*/
.elementScreenPanel {
	display: block;
	left: 310px;
	top: 3em;
	font-size: 0.8em;
}

	.elementScreenPanel table {
		border-collapse: collapse;
	}

	.elementScreenPanel thead tr,
	.elementScreenPanel tbody tr:nth-child(2n) {
		background-color: rgba(255, 255, 255, 0.5);
	}
	
	.elementScreenPanel thead th,
	.elementScreenPanel tbody td {
		padding: 0.2em 0.3em;
	}
	
	.elementScreenPanel[data-compact-view="true"] {
		padding-right: 2.5em;
	}
		
	.elementScreenPanel[data-compact-view="true"] thead,
	.elementScreenPanel[data-compact-view="true"] h1,
	.elementScreenPanel[data-compact-view="true"] [data-column="name"],
	.elementScreenPanel[data-compact-view="true"] [data-column="unit"],
	.elementScreenPanel[data-compact-view="true"] [data-info="r"],
	.elementScreenPanel[data-compact-view="true"] [data-info="w0"],
	.elementScreenPanel[data-compact-view="true"] [data-info="z0"],
	.elementScreenPanel[data-compact-view="true"] [data-info="zR"],
	.elementScreenPanel[data-compact-view="true"] .lcbuttons {
		display: none;
	}
	
	.elementScreenPanel button[data-action="compact"]:after {
		content: " ";
		position: absolute;
		top: 0.2em;
		left: 0.6em;
		border: 0.5em solid transparent;
		border-bottom-color: #fff;
	}
	
		.elementScreenPanel[data-compact-view="true"] button[data-action]:after {
			top: 0.8em;
			border-bottom-color: transparent;
			border-top-color: #fff;
		}

/**
* Information panel.
*/

#LaserCanvasNewPanel,
#LaserCanvasFrame, 
#LaserCanvas,
#LaserCanvasInfo,
#LaserCanvasToolbar,
#LaserCanvasToggleInfo,
#LaserCanvasToggleVariables {
	 position: absolute;
}

/**
* Graph panel.
*/
.graphPanel {
	position: absolute;
	width: 400px;
	height: 280px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}
	
	.graphPanel canvas {
		pointer-events: none;
	}

