/**
* Themes.
*/
[data-theme="line"] .laserCanvasInspect,
[data-theme="light"] .laserCanvasInfo,
[data-theme="light"] .laserCanvasToolbar,
[data-theme="light"] .laserCanvasVariablesPanel,
[data-theme="light"] .laserCanvasInspect {
	background-color: #f7f7f7;
}

[data-theme="light"] .propertiesPanel {
	background-color: #f1f1f1;
}

[data-theme="dark"] .laserCanvasInfo,
[data-theme="dark"] .propertiesPanel,
[data-theme="dark"] .helpPanel,
[data-theme="dark"] .laserCanvasToolbar,
[data-theme="dark"] .laserCanvasVariablesPanel {
	color: #e7e7e7;
	background-color: #404040;
}

[data-theme="dark"] .helpPanel a {
	color: #a3a3ff;
}

[data-theme="line"] .laserCanvasToolbar,
[data-theme="line"] .laserCanvasVariablesPanel {
	background-color: #fff;
}

[data-theme="light"] .laserCanvasToolbar,
[data-theme="light"] .laserCanvasVariablesPanel {
	border-top-color: #676767;
}

[data-theme="line"] .laserCanvasInspect,
[data-theme="light"] .laserCanvasInspect {
	border: 1px solid #676767;
}

[data-theme="line"] .laserCanvasInspect:before,
[data-theme="light"] .laserCanvasInspect:before {
	border-bottom-color: #676767;
}

[data-theme="line"] .laserCanvasInfo,
[data-theme="light"] .laserCanvasInfo {
	border-right: 1px solid #676767;
}

/* Standard sagittal / tangential planes */

[color-theme-plane="sag"] {
	color: #933;
}

[color-theme-plane="tan"] {
	color: #339;
}

[data-theme="dark"] [color-theme-plane="sag"] {
	color: #c66;
}
[data-theme="dark"] [color-theme-plane="tan"] {
	color: #ccf;
}

[color-theme-plane="sag"]:not(.noPlaneAnnotation)::after,
[color-theme-plane="tan"]:not(.noPlaneAnnotation)::after {
	position: relative;
	bottom: -0.2em;
	font-size: 0.6em;
	font-style: italic;
}

[color-theme-plane="sag"]:not(.noPlaneAnnotation)::after {
	content: "S";
}

[color-theme-plane="tan"]:not(.noPlaneAnnotation)::after {
	content: "T";
}